<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Учет оборудования</title>
</head>
<header>
    <div th:replace="header"></div>
</header>

<body>
<h3>[[${equipment.getType()}]] [[${equipment.getName()}]]</h3>
<h4>SN:[[${equipment.getSerialNumber()}]] IN:[[${equipment.inventoryNumber}]]</h4>
<div>
    <div class="divEl">
        <h5>прием оборудования</h5>
        <a th:href="${'/ReceiptInvoice/edit/'+receiptInvoice.getId()}"><div class="homeEquipment">
            прием оборудования от [[${receiptInvoice.getProvider()}]]
        </div></a>
    </div>

    <div class="divEl">
        <h4>найден в инвентаризациях</h4>
        <table>
            <tr th:each="inventory, itemStat : ${inventoryList}">
                <td><div class="homeEquipment">
                    Инвентаризация от [[${inventory.getDate()}]] Cоздана: [[${inventory?.getUser()}]]
                </div></td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>