<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div>
    <H1>Учет оборудования</H1>
</div>

<div>
    <a href="/">Home</a>
    <a href="/Inventory">Новая инвентаризация</a>
    <a href="/ReceiptInvoice/new">Прием Оборудования</a>
    <a href="/ExpenseInvoice/new">Списание оборудования</a>
    <hr/>
</div>

<div>
    <a href="/Floor/new">Новый этаж</a>
    <a href="/Storage/new">Новое место хранения</a>
    <a href="/EquipmentType/new">Новый тип оборудования</a>
    <a href="/"></a>
    <hr/>
</div>

</body>
</html>