<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Учет оборудования</title>
</head>
<header>
    <div th:replace="header"></div>
</header>

<body>
<h2>Учет оборудования</h2>
    <div>
        <h4>Тип оборудования</h4>
        <table>
            <tr th:each="equipment, itemStat : ${stockEquipment}">
                <td><a th:href="${'/Equipment/'+equipment.getId()}"> dfdsfsd</a> </td>

                <td>[[${equipment.getType()}]]</td>
                <td>[[${equipment.getName()}]]</td>
                <td>[[${equipment.getInventoryNumber()}]]</td>
                <td>[[${equipment.getSerialNumber()}]]</td>
                <td>[[${equipment.getStorage()}]]</td>
            </tr>
        </table>
    </div>
</body>
</html>