<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Инвентаризация</title>
</head>
<header>
    <div th:replace="header"></div>
</header>

<body>
<h2>Инвентаризация</h2>
<form method="POST" action="/Inventory/save" th:object="${inventory}">
    <div>
        <h4>Тип оборудования</h4>
        <select th:field="*{equipmentType}">
            <option value="null">Все</option>
            <option th:each="equipmentType : ${equipmentTypes}" th:value="${equipmentType.getName()}"
                    th:text="${equipmentType.toString()}"></option>
        </select>
        <div>
            <input type="submit" formaction="/Inventory" value="сформировать"/>
        </div>
    </div>
    <div>
        <h4>Оборудование</h4>
        <table>
            <tr th:each="equipment, itemStat : *{foundEquipment}">
                <td>
                    <p>[[${equipment.getType().toString()+' '+equipment.getName()+' '+equipment.getStorage().toStringRu()}]]<br>
                        SN:[[${equipment.getSerialNumber().toString()}]] IN:[[${equipment.getInventoryNumber().toString()}]]
                    </p>
                </td>
                <td>
                    <input type="checkbox"
                           th:field="*{foundEquipment[__${itemStat.index}__]}"
                           th:value="*{foundEquipment[__${itemStat.index}__].id}">
                </td>
            <tr th:each="equipment, itemStat : ${stockEquipments}">
                <td>
                    <p>[[${equipment.getType().toString()+' '+equipment.getName()+' '+equipment.getStorage().toStringRu()}]]<br>
                        SN:[[${equipment.getSerialNumber().toString()}]] IN:[[${equipment.getInventoryNumber().toString()}]]
                    </p>
                </td>
                <td>
                    <input type="checkbox"
                           th:field="*{foundEquipment[__${itemStat.index + inventory.foundEquipment.size()}__]}"
                           th:value="${stockEquipments[__${itemStat.index}__].id}">
                </td>

            </tr>
        </table>

    </div>


    <div>

        <input type="submit" value="Создать"/>
    </div>
</form>
</body>
</html>