<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Приходование товара</title>
</head>
<body>
<div th:object="${receiptInvoice}">
    <h2>[[${receiptInvoice.provider}]]</h2>
    <div>
        <h4>Оборудование</h4>
        <table th:field="*{equipmentList}">
            <tr th:each="equipment, itemStat : *{equipmentList}">
                <td>
                    <p>[[${equipment.type}]]</p>
                    <p>[[${equipment.name}]]</p>
                    <p>[[${equipment.storage.toStringRu}]]</p>

                </td>
                <td><img th:src="${'http://localhost:8080/ReceiptInvoice/QR/'+equipment.inventoryNumber}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>